
 #searchBox {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

 #searchBox #searchArea {
  width: 50vw;
  border-style: solid;
  border-color: #9eb384;
  border-width: 2px;
  border-radius: 5px;
  background-color: var(--light-mode-background);
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

 #searchBox #searchArea input {
  width: 90%;
  height: 60px;
  border: none;
  background-color: var(--light-mode-background);
  font-size: 1.3em;
  text-align: start;
  border-radius: 10px;
  padding-left: 20px;
}

 #searchBox #searchArea span {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}


 #searchBox #searchArea span svg{
  width: 2vw;
  height: 1vw;
}

 #searchBox #searchArea input:focus {
  outline: none;
}

 #dropdown {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 50vw;
  overflow: hidden;
  position: relative;
  z-index: 1000000;
  height: fit-content;
}

 #dropdown a {
  height: fit-content;
  width: 50vw;
  background-color: var(--light-mode-background);
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-decoration: none;
  color: var(--dark-mode-head);
}

@media screen and (max-width: 768px) {
     #searchBox #searchArea {
    width: 90vw;
  }
   #searchBox #searchArea input {
    font-size: 1em;

  }
   #searchBox #searchArea span svg{
    width: 5vw;
    height: 4vw;
  }
  #dropdown {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 90vw;
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: fit-content;
  }
  
   #dropdown a {
    height: fit-content;
    width: 90vw;
    background-color: var(--light-mode-background);
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    color: var(--dark-mode-head);
  }
  
  #dropdown .diseaseName {
    font-size: 4vw;
    padding: 10px 0;
  }
  
  #dropdown a span {
    display: flex;
  }
  
  
  #dropdown a span p{
    padding : 2px 5px;
    border: 1px solid var(--light-mode-element-main);
    border-radius: 20px;
    margin-right: 10px;
    font-size:2vw !important;
  }
}